* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: "Pacifico", cursive;
}

body {
  background-color: #f2e8cf;
}

header {
  background-color: #002147;
  color: #f1ede6;
}
header h1 {
  font-size: 60pt;
  padding: 1%;
  box-shadow: 0px 0px 25px 10px rgba(68, 43, 72, 0.75);
  -webkit-box-shadow: 0px 0px 25px 10px rgba(68, 43, 72, 0.75);
  -moz-box-shadow: 0px 0px 25px 10px rgba(68, 43, 72, 0.75);
}

.button {
  float: right;
  margin: 20px;
  height: 70px;
  width: 70px;
  font-size: 55px;
  color: #f2e8cf;
  background-color: #074f57;
  border: none;
  border-radius: 1000px;
  box-shadow: 0px 0px 6px 5px rgba(7, 79, 87, 0.75);
  -webkit-box-shadow: 0px 0px 6px 5px rgba(7, 79, 87, 0.75);
  -moz-box-shadow: 0px 0px 6px 5px rgba(7, 79, 87, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.25);
  color: #f2e8cf;
  background-color: #89023e;
  box-shadow: 0px 0px 6px 5px rgba(137, 2, 62, 0.75);
  -webkit-box-shadow: 0px 0px 6px 5px rgba(137, 2, 62, 0.75);
  -moz-box-shadow: 0px 0px 6px 5px rgba(137, 2, 62, 0.75);
}

.container {
  height: 90%;
  width: 75%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.form {
  width: 50%;
  height: 380px;
  margin: auto;
  padding: 5px;
  color: #f2e8cf;
  background-color: #074f57;
  box-shadow: 0px 0px 6px 5px rgba(7, 79, 87, 0.75);
  -webkit-box-shadow: 0px 0px 6px 5px rgba(7, 79, 87, 0.75);
  -moz-box-shadow: 0px 0px 6px 5px rgba(7, 79, 87, 0.75);
  border: none;
  border-radius: 25px;
}
.form h2 {
  font-size: 30pt;
  color: white;
}
.form input {
  background-color: rgb(181, 226, 232);
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20pt;
  border: none;
  border-radius: 5px;
  width: 90%;
  text-align: left;
}
.form ::-moz-placeholder {
  color: #558085;
}
.form ::placeholder {
  color: #558085;
}
.form .checkbox {
  color: white;
  font-size: 20pt;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.form .checkbox input {
  width: 20px;
  height: 20px;
  margin: 0;
}
.form .sub {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.form .sub .warning {
  float: left;
}
.form .sub input {
  color: #074f57;
  background-color: rgba(124, 187, 195, 0.75);
  font-size: 15pt;
  text-align: center;
  width: 125px;
  float: right;
  margin-left: 10px;
}
.form .sub input:hover {
  cursor: pointer;
  color: #074f57;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 4px 5px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 4px 5px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 4px 5px rgba(255, 255, 255, 0.75);
}

.hidden {
  display: none;
}

.book {
  border: none;
  border-radius: 15px;
  background-color: #89023e;
  color: white;
  width: 20%;
  height: 100%;
}
.book .ue {
  padding: 3px;
  font-family: "Indie Flower", cursive;
}
.book .tx {
  font-family: "Indie Flower", cursive;
}
.book .gelesen {
  font-family: "Indie Flower", cursive;
}
.book .symbole {
  float: right;
  font-size: 15pt;
}/*# sourceMappingURL=style.css.map */